@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
body {
  font-family: "Open Sans", sans-serif;
}
.welcome-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 90px 0;
  align-items: center;
  font-weight: 600;
}
.welcome-header__tittle {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 50%;
  opacity: 0.6;
}

.login-form {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}
.login-form input {
  font-size: 20px;
  border: none;
  padding: 15px 0;
  margin-bottom: 25px;
}
.login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}
.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.login-form input:focus {
  border-color: var(--yello);
}
.login-form input[type="submit"] {
  background-color: var(--yello);
  cursor: pointer;
}
.login-form input[type="submit"]:hover {
  opacity: 0.8;
}
.login-form input[type="submit"]:active {
  background-color: var(--yello);
}
.login-form a {
  margin: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
.login-form a:hover {
  color: var(--yello);
}
.login-form a:focus {
  border: none;
  border-color: rgba(0, 0, 0, 0);
}
